@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  height: 100vh;
}
.card {
  width: 400px;
  height: 500px;
  border-radius: 50px;
}

.card-header,
.card-footer {
  width: 100%;
  /* max-height: 100px; */
  height: 120px;
  border-top: none;
  border-bottom: none;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: 1200px;
  margin-top: 430px;
}
